---
import Tags from "../components/Tags.astro";
import Author from "../components/Author.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout>
<div class="prose prose-invert">
<h1>{frontmatter.title}</h1>
<p>Published: {frontmatter.pubDate.slice(0,10)} </p>
<p><em>{frontmatter.description}</em></p>
<p>Written by <Author author={frontmatter.author}/></p>
<Tags tags={frontmatter.tags}/>
<img src={frontmatter.path} width="300" alt={frontmatter.alt} />
<slot />
</div>
</BaseLayout>